<div id="Alumnos" class="card card-outline-info">
    <div class="card-header">
        <h4 class="m-b-0 text-white">{{operation}}</h4>
    </div>
    <div class="card-body">
        <form id="form_Alumnos" name="form_Alumnos" action="#">
            <div class="form-body">
                <!--<h3 class="card-title">Registre su informacion</h3>-->
                <hr>
                <div class="row p-t-20">
                    <div class="col-md-5">
                        <div style="display:none" class="form-group">
                            <label>ID *</label>
                            <input v-model="id" id="id" name="id" type="text" class="form-control form-control-line" placeholder="Ingresa el id aquí">
                        </div>
                        <div class="form-group">
                            <img id="imgfoto" style="float: right;" width="100" src="images/avatar.svg">

                            <label>Foto *</label><br>
                            <i style="color:red;" id="status_picture" data-toggle="modal" data-target="#exampleModal" @click="activate_cam" class="icon-user">&nbsp Foto Cámara</i>
                            <br>
                            <label>Foto Archivo *</label>
                            <input name="logo" id="logo" type="hidden">
                            <input id="logo2" name="logo2" type="file" class="form-control">
                            <input id="foto" name="foto" type="hidden" class="form-control form-control-line" placeholder="Ingresa el foto aquí">
                        </div>
                        <div class="form-group">
                            <label>Nombres *</label>
                            <input id="nombre" name="nombre" type="text" class="form-control form-control-line" placeholder="Ingresa el nombres aquí">
                        </div>
                        <div class="form-group">
                            <label>Apellidos *</label>
                            <input id="apellidos" name="apellidos" type="text" class="form-control form-control-line" placeholder="Ingresa el apellidos aquí">
                        </div>
                        <div class="form-group">
                            <label>Fecha de nacimiento *</label>
                            <input id="fecha_nacimiento" name="fecha_nacimiento" type="date" class="form-control form-control-line" placeholder="Ingresa el fecha de nacimiento aquí">
                        </div>
                        <div class="form-group">
                            <label>Lugar de nacimiento *</label>
                            <input id="lugar_nac" name="lugar_nac" type="text" class="form-control form-control-line" placeholder="Ingresa el lugar de nacimiento aquí">
                        </div>
                        <div class="form-group">
                            <label>Departamento Expedición *</label>
                            <select @change="refresh()"  id="departamento_exp" name="departamento_exp" type="text" class="form-control form-control-line">
                                <option v-for="option in optionsSelect1" v-bind:value="option.codigo">
                                    {{option.nombre}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Ciudad Expedición *</label>
                            <select  id="ciudad_exp" name="ciudad_exp" type="text" class="form-control form-control-line">
                                <option v-for="option in optionsSelect2" v-bind:value="option.codigo">
                                    {{option.nombre}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Tipo de identificación *</label>
                            <select id="tipo_identificacion" name="tipo_identificacion" type="text" class="form-control form-control-line">
                                <option value="R.C.">R.C.</option>
                                <option value="T.I.">T.I.</option>
                                <option value="D.E.">Documento Extranjero</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Identificación *</label>
                            <input id="identificacion" name="identificacion" type="number" class="form-control form-control-line" placeholder="Ingresa el identificación aquí">
                        </div>
                        <div class="form-group">
                            <label>Sexo *</label>
                            <select id="sexo" name="sexo" type="text" class="form-control form-control-line">
                                <option value="f">Femenino</option>
                                <option value="m">Masculino</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Dirección *</label>
                            <input id="direccion" name="direccion" type="text" class="form-control form-control-line" placeholder="Ingresa el dirección aquí">
                        </div>
                        <div id="passwordbox" class="form-group">
                            <label>Password *</label>
                            <input id="password" name="password" type="text" class="form-control form-control-line" placeholder="Ingresa el password aquí">
                        </div>
                        <div class="form-group">
                            <label>Nivel Institucional *</label>
                            <select id="tipo" name="tipo" type="text" class="form-control form-control-line">
                                <option value="01">Inicial</option>
                                <option value="02">Preescolar</option>
                                <option value="03">Básica Primaria</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Teléfono *</label>
                            <input id="telefono" name="telefono" type="text" class="form-control form-control-line" placeholder="Ingresa el teléfono aquí">
                        </div>
                        <div class="form-group">
                            <label>Tipo de sangre *</label>
                            <select id="tipo_sangre" name="tipo_sangre" type="text" class="form-control form-control-line">
                                <option value="A+">A+</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B-">B-</option>
                                <option value="O+">O+</option>
                                <option value="O-">O-</option>
                                <option value="AB+">AB+</option>
                                <option value="AB-">AB-</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Sede *</label>
                            <select id="sede" name="sede" type="text" class="form-control form-control-line">
                                <option value="01">Fusagasugá</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Eps *</label>
                            <input id="eps" name="eps" type="text" class="form-control form-control-line" placeholder="Ingresa el eps aquí">
                        </div>
                        <div class="form-group">
                            <label>Zona  *</label>
                            <select id="zona" name="zona" type="text" class="form-control form-control-line">
                                <option value="1">Zona Rural</option>
                                <option value="2">Zona Urbana</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Prepagada *</label>
                            <select id="prepagada" name="prepagada" type="text" class="form-control form-control-line">
                                <option value="1">Si</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Correo eletrónico *</label>
                            <input id="email" name="email" type="text" class="form-control form-control-line" placeholder="Ingresa el correo eletrónico aquí">
                        </div>

                        <div class="button-box m-t-20">
                            <a v-if="id==0" @click="onsave" id="add-option" class="btn btn-success" href="#">Agregar</a>
                            <a v-if="id!=0" @click="onsave" id="add-option" class="btn btn-success" href="#">Modificar</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <label>Buscar</label>
                        </div>
                        <div class="input-group">
                            <input v-on:keypress.enter.prevent="onlist(1)" id="search" name="search" type="text" class="form-control" placeholder="Buscar">
                            <div class="input-group-append">
                                <button @click="onlist(1)" type="button" class="btn btn-primary">
                                    <span class="fas fa-search"></span>
                                </button>
                            </div>
                        </div>
                        <br>
                        <div style=" width:100%; display: flex !important; align-items: center !important; justify-content: center !important;">
                            <img v-if="preload_list" width="100" height="100" src="images/preload.svg">
                        </div>

                        <table v-if="!preload_list" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Alumnos</th>
                                    <th class="text-nowrap">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="i in list">
                                    <td style="font-size:13px; font-weight:bold;"><img class="img-circle zoom" style="width: 40px !important; height: 40px !important;"
                                        v-bind:src="i.foto"> {{ i.nombre }}  {{ i.apellidos }}</td>
                                    <td class="text-nowrap">
                                        <a @click="onupdate(i)" href="#" data-toggle="tooltip" data-original-title="Edit">
                                            <i class="fas fa-pencil-alt text-inverse m-r-10"></i>
                                        </a>
                                        <a @click="ondeleted(i)" href="#" data-toggle="tooltip" data-original-title="Close">
                                            <i class="fas fa-window-close text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--/span-->

                <!--<Paginador>-->
                <div class="col-sm-12 text-center">
                    <small class="text-muted inline m-t-sm m-b-sm">Resultados {{results}}</small>
                </div>
                <div class="col-sm-12 text-right text-center-xs">
                    <ul class="pagination">
                        <li v-on:click="onlist('prev')" v-if="prev == true">
                            <a href="#">
                                <i class="fa fa-chevron-left"></i>
                            </a>
                        </li>
                        <li v-bind:class="{ 'active' : page==pagex }" v-on:click="onlist(pagex)" v-for="pagex in pages">
                            <a href="#">{{pagex}}</a>
                        </li>
                        <li v-on:click="onlist('next')" v-if="next == true">
                            <a href="#">
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--</Paginador>-->
            </div>
    </div>
    </form>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Fotografia</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="contenedor">
                    <div class="titulo">Cámara</div>
                    <iframe id="web-cam" name="web-cam" frameborder="0" width="100%" height="300"></iframe>
                </div>

            </div>
            <div class="modal-footer">
                <button id='botonFoto' data-dismiss="modal" type="button" class="btn btn-primary">Tomar</button>
            </div>
        </div>
    </div>
</div>
</div>


<script src="Views/Alumnos/Alumnos.js?v=0.01"></script>
