.fi_th{
    font-size: 10px;
    font-weight: bold;
    border: 1px solid  #dee2e6 !important;
    padding: 4px !important; 
}
.fi_table{
    width: 100% !important;
    border: 1px solid  #dee2e6 !important;
    border-radius: 20px;
    font-size: 14px !important;
}
.fi_table td{
    border: 1px solid  #dee2e6 !important;
}
.fi_table th{
    border: 1px solid  #dee2e6 !important;
    text-align: center;
    font-weight: bold;
}
.fi_lista {
    margin: 0px  !important;
    padding: 0px  !important;
    margin-top: 0px !important;
   
}
.fi_lista li{
    padding-top: 10px !important;
}
.fi_lista li:hover{
 background-color:  #dee2e6 !important;
}

.fi_b{
    margin-bottom: 10px  !important;;
}
#vistas{
    background-color: #EEF5F9;
}
.fi_table td h6, .fi_table td small, .fi_table td {
    padding: 2px !important;
    margin: 2px !important;
}