@import url('https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css');
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
html {
    height: 100%;
}
body {
    /* Remember to use the other versions for IE 10 and older browsers! */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    font-family: 'lato', sans-serif;
    color: #555;
    background-image: url('../assets/images/background/slider3.jpg');
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9fcf7+0,f5f9f0+100;L+Green+3D */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
    background-color: #ffffff;
    /* Old browsers */
    background-color: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* FF3.6-15 */
    background-color: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* Chrome10-25,Safari5.1-6 */
    background-color: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
    /* IE6-9 */
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    opacity: 0.9;
}
#recover {
    display: none;
}
.container {
    border: 2px solid #000;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 1.5px 0 0 rgb(255, 255, 255);
    width: 450px;
    display: flex;
    flex-direction: column;
}
.logo {
    font-family: "museo-slab";
    font-size: 20px;
    text-align: center;
    padding: 20px 20px 0;
    margin: 0;
}
.login-item {
    color: #555;
    padding: 25px 25px 0;
    margin: 20px 20px 0;
    border-radius: 3px;
}
input {
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}
.user:before {
    content: '\f007';
    font: 14px fontawesome;
    color: #5b5b5b;
}
.lock:before {
    content: '\f023';
    font: 14px fontawesome;
    color: #5b5b5b;
}
.form input[type="password"],
.form input[type="text"],
.form input[type="button"] {
    width: 100%;
}
.form-login label,
.form-login input[type="text"],
.form-login input[type="password"],
.form-login input[type="button"] {
    border-radius: 0.25rem;
    padding: 1rem;
    color: #3A3F44;
}
.form-login label {
    background-color: #222222;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.form-login input[type="text"],
.form-login input[type="password"] {
    background-color: #ffffff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.form-login input[type="text"]:focus,
.form-login input[type="text"]:hover,
.form-login input[type="password"]:focus,
.form-login input[type="password"]:hover {
    background-color: #eeeeee;
}
.form-login input[type="button"] {
    background-color: #00B9BC;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
}
.form-login input[type="button"]:focus,
.form-login input[type="submit"]:hover {
    background-color: #197071;
}
.form-field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem;
}
.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.text--center {
    text-align: center;
}