<img width="700" src="https://formarinnovar.com/Services/images/logo_web-01.png">
<h1>Estimado usuario,</h1>
<p style="font-size: 20px;">
Nos complace darle la más cordial bienvenida al gran familia del Colegio campestre Formar Innovar.
</p>
<i><b>
“Un Lugar para ser Feliz”</b>
</i>
<p style="font-size: 16px;">
Para el ingreso al sistema se generaron un usuario y contraseña
</p>
<b>Usuario:</b> 1069716086 <br>
<b>Password:</b> elaverde <br><br>


<a href="https://formarinnovar.com/Services/app/" target="_blank">Entrar</a>