<div id="Horarios" class="card card-outline-info">
    <div class="card-header">
        <div class="card-actions">
            <a onClick="expan()" class="btn-minimize" data-action="expand"><i class="mdi mdi-arrow-expand"></i></a>
        </div>
        <h4 class="m-b-0 text-white">{{operation}}</h4>
    </div>
    <div class="card-body">
        <form id="form_Horarios" name="form_Horarios" action="#">
            <div class="form-body">
                <!--<h3 class="card-title">Registre su informacion</h3>-->
                <hr>
                <div class="row p-t-20">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div style="display:none" class="form-group">
                                <label>ID *</label>
                                <input v-model="id" id="id" name="id" type="text" class="form-control form-control-line"
                                    placeholder="Ingresa el id aquí">
                            </div>
                            <div class="form-group">
                                <label>Profesor *</label>
                                <input readonly data-toggle="modal" data-target="#b_profesores" id="profesores_id" name="profesores_id"
                                    type="text" class="form-control form-control-line" placeholder="Ingresa el profesor aquí">
                            </div>
                            <div class="form-group">
                                <label>Asignación *</label>
                                <input  id="asignacion_nombre" name="asignacion_nombre" type=text" class="form-control form-control-line"
                                    placeholder="Ingresa el asignación aquí">
                                    <br>
                                    <br>

                                <select name="asignacion[]" id='asignacion' multiple='multiple'>
                                    <optgroup v-for="grupos in asignaciones" v-bind:label='grupos[0].grado'>
                                        <option  v-bind:value='asignacion.id' v-for="asignacion in grupos">{{asignacion.nombre}} </option>
                                    </optgroup>
                                </select>

                            </div>
                            <div class="form-group">
                                <label>Hora inicio *</label>
                                <input id="hora_inicio" name="hora_inicio" type="time" class="form-control form-control-line"
                                    placeholder="Ingresa el hora inicio aquí">
                            </div>
                            <div class="form-group">
                                <label>Hora Final *</label>
                                <input id="hora_final" name="hora_final" type="time" class="form-control form-control-line"
                                    placeholder="Ingresa el hora final aquí">
                            </div>
                            <div class="form-group">
                                <label>Día *</label>
                                <select id="dia" name="dia" class="form-control form-control-line">
                                    <option value="1">Lunes</option>
                                    <option value="2">Martes</option>
                                    <option value="3">Miércoles</option>
                                    <option value="4">Jueves</option>
                                    <option value="5">Viernes</option>
                                    <option value="6">Sábado</option>
                                    <option value="7">Domingo</option>
                                </select>
                            </div>
                            <div class="button-box m-t-20">
                                <a v-if="id==0" @click="onsave" id="add-option" class="btn btn-success" href="#">Agregar</a>
                                <a v-if="id!=0" @click="onsave" id="add-option" class="btn btn-success" href="#">Modificar</a>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-8">
                        <table class="fi_table">
                            <thead>
                                <tr>
                                    <th scope="col">Lunes</th>
                                    <th scope="col">Martes</th>
                                    <th scope="col">Miércoles</th>
                                    <th scope="col">Jueves</th>
                                    <th scope="col">Viernes</th>
                                    <th scope="col">Sábado</th>
                                    <th scope="col">Domingo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr >
                                    <td>
                                        <center>
                                        <ul class="fi_lista" style="list-style:none;">
                                            <li @click="delted_item(dia1)" style="cursor:no-drop;" v-for="dia1 in horario.dia1"> 
                                                <img class="img-circle zoom" style="width: 40px !important; height: 40px !important;" v-bind:src="dia1.foto"> 
                                                <br>   
                                                <h5>{{dia1.asignacion}}</h5>
                                                <h6>{{dia1.nombre}} {{dia1.apellidos}} <br>
                                                {{dia1.hora_inicio}} -  {{dia1.hora_final}}</h6>
                                            </li>
                                        </ul>
                                        </center>
                                    </td>
                                    <td>
                                        <center>
                                        <ul class="fi_lista" style="list-style:none;">
                                            <li @click="delted_item(dia2)" style="cursor:no-drop;" v-for="dia2 in horario.dia2"> 
                                                <img class="img-circle zoom" style="width: 40px !important; height: 40px !important;" v-bind:src="dia2.foto"> 
                                                <br>   
                                                <h5>{{dia2.asignacion}}</h5>
                                                <h6>{{dia2.nombre}} {{dia2.apellidos}} </br>
                                                {{dia2.hora_inicio}} -  {{dia2.hora_final}}</h6>
                                            </li>
                                        </ul>
                                        </center>
                                    </td>
                                    <td>
                                        <center>
                                        <ul class="fi_lista" style="list-style:none;">
                                            <li @click="delted_item(dia3)" style="cursor:no-drop;" v-for="dia3 in horario.dia3"> 
                                                <img class="img-circle zoom" style="width: 40px !important; height: 40px !important;" v-bind:src="dia3.foto"> 
                                                <br>   
                                                <h5>{{dia3.asignacion}}</h5>
                                                <h6>{{dia3.nombre}} {{dia3.apellidos}} <br>
                                                {{dia3.hora_inicio}} -  {{dia3.hora_final}}</h6>
                                            </li>
                                        </ul>
                                        </center>
                                    </td>
                                    <td>
                                        <center>
                                        <ul class="fi_lista" style="list-style:none;">
                                            <li @click="delted_item(dia4)" style="cursor:no-drop;" v-for="dia4 in horario.dia4"> 
                                                <img class="img-circle zoom" style="width: 40px !important; height: 40px !important;" v-bind:src="dia4.foto"> 
                                                <br>   
                                                <h5>{{dia4.asignacion}}</h5>
                                                <h6>{{dia4.nombre}} {{dia4.apellidos}} <br>
                                                {{dia4.hora_inicio}} -  {{dia4.hora_final}}</h6>
                                            </li>
                                        </ul>
                                        </center>
                                    </td>
                                    <td>
                                        <center>
                                        <ul class="fi_lista" style="list-style:none;">
                                            <li @click="delted_item(dia5)" style="cursor:no-drop;" v-for="dia5 in horario.dia5"> 
                                                <img class="img-circle zoom" style="width: 40px !important; height: 40px !important;" v-bind:src="dia5.foto"> 
                                                <br>   
                                                <h5>{{dia5.asignacion}}</h5>
                                                <h6>{{dia5.nombre}} {{dia5.apellidos}} <br>
                                                {{dia5.hora_inicio}} -  {{dia5.hora_final}}</h6>
                                            </li>
                                        </ul>
                                        </center>
                                    </td>
                                    <td>
                                        <center>
                                        <ul class="fi_lista" style="list-style:none;">
                                            <li @click="delted_item(dia6)" style="cursor:no-drop;" v-for="dia6 in horario.dia6"> 
                                                <img class="img-circle zoom" style="width: 40px !important; height: 40px !important;" v-bind:src="dia6.foto"> 
                                                <br>   
                                                <h5>{{dia6.asignacion}}</h5>
                                                <h6>{{dia6.nombre}} {{dia6.apellidos}} <br>
                                                {{dia6.hora_inicio}} -  {{dia6.hora_final}}</h6>
                                            </li>
                                        </ul>
                                        </center>
                                    </td>
                                    <td>
                                        
                                        <center>
                                        <ul class="fi_lista" style="list-style:none;">
                                            <li @click="delted_item(dia7)" style="cursor:no-drop;" v-for="dia7 in horario.dia7"> 
                                                <img class="img-circle zoom" style="width: 40px !important; height: 40px !important;" v-bind:src="dia7.foto"> 
                                                <br>   
                                                <h5>{{dia7.asignacion}}</h5>
                                                <h6>{{dia7.nombre}} {{dia7.apellidos}} <br>
                                                {{dia7.hora_final}} -  {{dia7.hora_inicio}}</h6>
                                            </li>
                                        </ul>
                                        </center>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade" id="b_profesores" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel1">Profesores</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="input-group">
                            <label>Buscar</label>
                        </div>
                        <div class="input-group">
                            <input v-on:keypress.enter.prevent="onlistProfesores(1)" id="search" name="search" type="text"
                                class="form-control" placeholder="Buscar">
                            <div class="input-group-append">
                                <button @click="onlistProfesores(1)" type="button" class="btn btn-primary">
                                    <span class="fas fa-search"></span>
                                </button>
                            </div>
                        </div>
                        <br>
                        <div style=" width:100%; display: flex !important; align-items: center !important; justify-content: center !important;">
                            <img v-if="preload_list" width="100" height="100" src="images/preload.svg">
                        </div>
                        <table v-if="!preload_list" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Profesores</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="i in list">
                                    <td style="cursor:pointer;" @click="onSetProfesor(i)"><img class="img-circle zoom"
                                            style="width: 40px !important; height: 40px !important;" v-bind:src="i.foto">
                                        {{ i.nombre }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--<Paginador>-->
                    <div class="col-sm-12 text-center">
                        <small class="text-muted inline m-t-sm m-b-sm">Resultados {{results}}</small>
                    </div>
                    <div class="col-sm-12 text-right text-center-xs">
                        <ul class="pagination">
                            <li v-on:click="onlistProfesores('prev')" v-if="prev == true">
                                <a href="#">
                                    <i class="fa fa-chevron-left"></i>
                                </a>
                            </li>
                            <li v-bind:class="{ 'active' : page==pagex }" v-on:click="onlistProfesores(pagex)" v-for="pagex in pages">
                                <a href="#">{{pagex}}</a>
                            </li>
                            <li v-on:click="onlistProfesores('next')" v-if="next == true">
                                <a href="#">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--</Paginador>-->
                </div>
            </div>
        </div>
    </div>
</div>

</div>


<script src="Views/Horarios/Horarios.js"></script>