<div id="Horarios" class="card card-outline-info">
    <div class="card-header">
        <div class="card-actions">
            <a onClick="expan()" class="btn-minimize" data-action="expand"><i class="mdi mdi-arrow-expand"></i></a>
        </div>
        <h4 class="m-b-0 text-white">{{operation}}</h4>
    </div>
    <div class="card-body">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Alumno
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a v-for="i in alumnos" class="dropdown-item" href="#"> <img class="img-circle zoom" style="width: 40px !important; height: 40px !important;"
                                    v-bind:src="i.foto"> {{i.nombre}} {{i.apellidos}} </a>
                        </div>
                    </li>
                </ul>
                
                
                <form class="form-inline my-2 my-lg-0">
                    <img class="img-circle zoom" style="width: 40px !important; height: 40px !important;" v-bind:src="foto">
                    {{alumno}}
                </form>
            </div>
        </nav>
        <form id="form_Horarios" name="form_Horarios" action="#">
            <div class="form-body">
                <!--<h3 class="card-title">Registre su informacion</h3>-->
                <div class="row p-t-20">
                    <!--/span-->
                    <div class="col-md-12">
                            <table class="fi_table">
                                <thead>
                                    <tr>
                                        <th scope="col">Lunes</th>
                                        <th scope="col">Martes</th>
                                        <th scope="col">Miércoles</th>
                                        <th scope="col">Jueves</th>
                                        <th scope="col">Viernes</th>
                                        <th scope="col">Sábado</th>
                                        <th scope="col">Domingo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <center>
                                                <ul class="fi_lista" style="list-style:none;">
                                                    <li v-bind:id="dia1.id" @click="add_grupo(dia1)" data-matriculado="false" style="cursor:cell;"
                                                        v-for="dia1 in horario.dia1">
                                                        <img class="img-circle zoom" style="width: 40px !important; height: 40px !important;"
                                                            v-bind:src="dia1.foto">
                                                        <br>
                                                        <h6>{{dia1.asignacion}}</h6>
                                                        <small v-bind:id="'profesor'+dia1.id" class="text-muted">{{dia1.nombre}}
                                                            {{dia1.apellidos}}</small> <br>
                                                        <span class="label label-success label-rounded">{{dia1.hora_inicio}}
                                                            - {{dia1.hora_final}}</span>
                                                    </li>
                                                </ul>
                                            </center>
                                        </td>
                                        <td>
                                            <center>
                                                <ul class="fi_lista" style="list-style:none;">
                                                    <li v-bind:id="dia2.id" @click="add_grupo(dia2)" data-matriculado="false" style="cursor:cell;"
                                                        v-for="dia2 in horario.dia2">
                                                        <img class="img-circle zoom" style="width: 40px !important; height: 40px !important;"
                                                            v-bind:src="dia2.foto">
                                                        <br>
                                                        <h6>{{dia2.asignacion}}</h6>
                                                        <small v-bind:id="'profesor'+dia2.id" class="text-muted">{{dia2.nombre}}
                                                            {{dia2.apellidos}}</small> <br>
                                                        <span class="label label-success label-rounded">{{dia2.hora_inicio}}
                                                            - {{dia2.hora_final}}</span>
                                                    </li>
                                                </ul>
                                            </center>
                                        </td>
                                        <td>
                                            <center>
                                                <ul class="fi_lista" style="list-style:none;">
                                                    <li v-bind:id="dia3.id" @click="add_grupo(dia3)" data-matriculado="false" style="cursor:cell;"
                                                        v-for="dia3 in horario.dia3">
                                                        <img class="img-circle zoom" style="width: 40px !important; height: 40px !important;"
                                                            v-bind:src="dia3.foto">
                                                        <br>
                                                        <h6>{{dia3.asignacion}}</h6>
                                                        <small v-bind:id="'profesor'+dia3.id" class="text-muted">{{dia3.nombre}}
                                                            {{dia3.apellidos}}</small> <br>
                                                        <span class="label label-success label-rounded">{{dia3.hora_inicio}}
                                                            - {{dia3.hora_final}}</span>
                                                    </li>
                                                </ul>
                                            </center>
                                        </td>
                                        <td>
                                            <center>
                                                <ul class="fi_lista" style="list-style:none;">
                                                    <li v-bind:id="dia4.id" @click="add_grupo(dia4)" data-matriculado="false" style="cursor:cell;"
                                                        v-for="dia4 in horario.dia4">
                                                        <img class="img-circle zoom" style="width: 40px !important; height: 40px !important;"
                                                            v-bind:src="dia4.foto">
                                                        <br>
                                                        <h6>{{dia4.asignacion}}</h6>
                                                        <small v-bind:id="'profesor'+dia4.id" class="text-muted">{{dia4.nombre}}
                                                            {{dia4.apellidos}}</small> <br>
                                                        <span class="label label-success label-rounded">{{dia4.hora_inicio}}
                                                            - {{dia4.hora_final}}</span>
                                                    </li>
                                                </ul>
                                            </center>
                                        </td>
                                        <td>
                                            <center>
                                                <ul class="fi_lista" style="list-style:none;">
                                                    <li v-bind:id="dia5.id" @click="add_grupo(dia5)" data-matriculado="false" style="cursor:cell;"
                                                        v-for="dia5 in horario.dia5">
                                                        <img class="img-circle zoom" style="width: 40px !important; height: 40px !important;"
                                                            v-bind:src="dia5.foto">
                                                        <br>
                                                        <h6>{{dia5.asignacion}}</h6>
                                                        <small v-bind:id="'profesor'+dia5.id" class="text-muted">{{dia5.nombre}}
                                                            {{dia5.apellidos}}</small> <br>
                                                        <span class="label label-success label-rounded">{{dia5.hora_inicio}}
                                                            - {{dia5.hora_final}}</span>
                                                    </li>
                                                </ul>
                                            </center>
                                        </td>
                                        <td>
                                            <center>
                                                <ul class="fi_lista" style="list-style:none;">
                                                    <li v-bind:id="dia6.id" @click="add_grupo(dia6)" data-matriculado="false" style="cursor:cell;"
                                                        v-for="dia6 in horario.dia6">
                                                        <img class="img-circle zoom" style="width: 40px !important; height: 40px !important;"
                                                            v-bind:src="dia6.foto">
                                                        <br>
                                                        <h6>{{dia6.asignacion}}</h6>
                                                        <small v-bind:id="'profesor'+dia6.id" class="text-muted">{{dia6.nombre}}
                                                            {{dia6.apellidos}}</small> <br>
                                                        <span class="label label-success label-rounded">{{dia6.hora_inicio}}
                                                            - {{dia6.hora_final}}</span>
                                                    </li>
                                                </ul>
                                            </center>
                                        </td>
                                        <td>
                                            <center>
                                                <ul class="fi_lista" style="list-style:none;">
                                                    <li v-bind:id="dia7.id" @click="add_grupo(dia7)" data-matriculado="false" style="cursor:cell;"
                                                        v-for="dia7 in horario.dia7">
                                                        <img class="img-circle zoom" style="width: 40px !important; height: 40px !important;"
                                                            v-bind:src="dia7.foto">
                                                        <br>
                                                        <h6>{{dia7.asignacion}}</h6>
                                                        <small v-bind:id="'profesor'+dia7.id" class="text-muted">{{dia7.nombre}}
                                                            {{dia7.apellidos}}</small> <br>
                                                        <span class="label label-success label-rounded">{{dia7.hora_inicio}}
                                                            - {{dia7.hora_final}}</span>
                                                    </li>
                                                </ul>
                                            </center>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    <div class="col-md-12">
                        <table class="table vm no-th-brd pro-of-month fi_table">
                            <thead>
                                <tr>
                                    <th colspan="3"><small class="text-muted">Pensum</th>
                                </tr>
                            </thead>
                            <tbody>
                                <input id="pensumlist" name="pensumlist" type="hidden">
                                <tr v-for="p in pensum">
                                    <td>
                                        <h6>{{p.nombre_asignacion}}</h6><small class="text-muted">Asignación</small>
                                    </td>
                                    <td>
                                        <h6>{{p.tiempo_esperado}}</h6>
                                        <small class="text-muted">Horas requeridas</small>
                                    </td>
                                    <td><span v-bind:class="{ 'label-danger': p.tiempo != p.tiempo_esperado, 'label-success': p.tiempo == p.tiempo_esperado }"
                                            class="label label-rounded">{{p.tiempo}}</span><br><small class="text-muted">Horas
                                            matriculadas</small></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade" id="b_profesores" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel1">Profesores</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="input-group">
                            <label>Buscar</label>
                        </div>
                        <div class="input-group">
                            <input v-on:keypress.enter.prevent="onlistProfesores(1)" id="search" name="search" type="text"
                                class="form-control" placeholder="Buscar">
                            <div class="input-group-append">
                                <button @click="onlistProfesores(1)" type="button" class="btn btn-primary">
                                    <span class="fas fa-search"></span>
                                </button>
                            </div>
                        </div>
                        <br>
                        <div style=" width:100%; display: flex !important; align-items: center !important; justify-content: center !important;">
                            <img v-if="preload_list" width="100" height="100" src="images/preload.svg">
                        </div>
                        <table v-if="!preload_list" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Profesores</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="i in list">
                                    <td style="cursor:pointer;" @click="onSetProfesor(i)"><img class="img-circle zoom"
                                            style="width: 40px !important; height: 40px !important;" v-bind:src="i.foto">
                                        {{ i.nombre }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--<Paginador>-->
                    <div class="col-sm-12 text-center">
                        <small class="text-muted inline m-t-sm m-b-sm">Resultados {{results}}</small>
                    </div>
                    <div class="col-sm-12 text-right text-center-xs">
                        <ul class="pagination">
                            <li v-on:click="onlistProfesores('prev')" v-if="prev == true">
                                <a href="#">
                                    <i class="fa fa-chevron-left"></i>
                                </a>
                            </li>
                            <li v-bind:class="{ 'active' : page==pagex }" v-on:click="onlistProfesores(pagex)" v-for="pagex in pages">
                                <a href="#">{{pagex}}</a>
                            </li>
                            <li v-on:click="onlistProfesores('next')" v-if="next == true">
                                <a href="#">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--</Paginador>-->
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="Views/Horarios/Horarios-acudiente.js?v=1"></script>