<div id="Asignaciones" class="card card-outline-info">
    <div class="card-header">
        <h4 class="m-b-0 text-white">{{operation}}</h4>
    </div>
    <div class="card-body">
        <form id="form_Asignaciones" name="form_Asignaciones" action="#">
            <div class="form-body">
                <!--<h3 class="card-title">Registre su informacion</h3>-->
                <hr>
                <div class="row p-t-20">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div style="display:none" class="form-group">
                                <label>ID *</label>
                                <input v-model="id" id="id" name="id" type="text">
                                <input id="syllabus" name="syllabus" type="text">
                            </div>
                            <div class="form-group">
                                <label>Grado *</label>
                                <select @change="onlist(1)" id="grado_id" name="grado_id" type="text" class="form-control form-control-line">
                                    <option v-for="option in optionsSelect1" v-bind:value="option.value">
                                        {{option.text}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Nombre Asignación *</label>
                                <input id="nombre" name="nombre" type="text" class="form-control form-control-line"
                                    placeholder="Ingresa el nombre asignación aquí">
                            </div>
                            <div class="form-group">
                                <label>Tipo Asignación *</label>
                                <select id="tipo" name="tipo" type="text" class="form-control form-control-line">
                                    <option value="1">Cátedra</option>
                                    <option value="2">Electiva</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Grupo *</label>
                                <select id="grupo" name="grupo" type="text" class="form-control form-control-line">
                                    <option v-for="option in optionsSelect2" v-bind:value="option.value">
                                        {{option.text}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Horas semanales *</label>
                                <input id="horas" name="horas" type="text" class="form-control form-control-line"
                                    placeholder="Ingresa el horas semanales aquí">
                            </div>
                            <div class="form-group">
                                <label>Horas minimas diarias *</label>
                                <input id="horas_min" name="horas_min" type="text" class="form-control form-control-line"
                                    placeholder="Ingresa el horas minimas diarias aquí">
                            </div>
                            <div>
                                <label>Syllabus *</label>
                                <input type="file" id="files" name="files[]" class="form-control form-control-line" />
                                <a v-if="id!=0" target="blank"  id="link" v-bind:href="link">Ver Archivo</a>

                            </div>

                            <div class="button-box m-t-20">
                                <a v-if="id==0" @click="onsave" id="add-option" class="btn btn-success" href="#">Agregar</a>
                                <a v-if="id!=0" @click="onsave" id="add-option" class="btn btn-success" href="#">Modificar</a>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="input-group">
                            <label>Buscar</label>
                        </div>
                        <div class="input-group">
                            <input v-on:keypress.enter.prevent="onlist(1)" id="search" name="search" type="text" class="form-control"
                                placeholder="Buscar">
                            <div class="input-group-append">
                                <button @click="onlist(1)" type="button" class="btn btn-primary">
                                    <span class="fas fa-search"></span>
                                </button>
                            </div>
                        </div>
                        <br>
                        <div style=" width:100%; display: flex !important; align-items: center !important; justify-content: center !important;">
                            <img v-if="preload_list" width="100" height="100" src="images/preload.svg">
                        </div>
                        <table v-if="!preload_list" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Asignaciones</th>
                                    <th class="text-nowrap">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="i in list">
                                    <td>{{ i.nombre }}</td>
                                    <td class="text-nowrap">
                                        <a @click="onupdate(i)" href="#" data-toggle="tooltip" data-original-title="Edit">
                                            <i class="fas fa-pencil-alt text-inverse m-r-10"></i>
                                        </a>
                                        <a @click="ondeleted(i)" href="#" data-toggle="tooltip" data-original-title="Close">
                                            <i class="fas fa-window-close text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--<Paginador>-->
                    <div class="col-sm-12 text-center">
                        <small class="text-muted inline m-t-sm m-b-sm">Resultados {{results}}</small>
                    </div>
                    <div class="col-sm-12 text-right text-center-xs">
                        <ul class="pagination">
                            <li v-on:click="onlist('prev')" v-if="prev == true">
                                <a href="#">
                                    <i class="fa fa-chevron-left"></i>
                                </a>
                            </li>
                            <li v-bind:class="{ 'active' : page==pagex }" v-on:click="onlist(pagex)" v-for="pagex in pages">
                                <a href="#">{{pagex}}</a>
                            </li>
                            <li v-on:click="onlist('next')" v-if="next == true">
                                <a href="#">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--</Paginador>-->
                </div>
            </div>
        </form>
    </div>
</div>
<script src="Views/Asignaciones/Asignaciones.js?v=0.04"></script>