<div id="Matriculas" class="card card-outline-info">
    <div class="card-header">
        <h4 class="m-b-0 text-white">{{operation}}</h4>
    </div>
    <div class="card-body">
        <form id="form_Matriculas" name="form_Matriculas" action="#">
            <div class="form-body">
                <!--<h3 class="card-title">Registre su informacion</h3>-->
                <hr>
                <div class="row p-t-20">
                    <div class="col-md-6">
                        <div class="input-group">
                            <label>Buscar</label>
                        </div>
                        <div class="input-group">
                            <input v-on:keypress.enter.prevent="onlistAlumnos(1)" id="search" name="search" type="text"
                                class="form-control" placeholder="Buscar">
                            <div class="input-group-append">
                                <button @click="onlistAlumnos(1)" type="button" class="btn btn-primary">
                                    <span class="fas fa-search"></span>
                                </button>
                            </div>
                        </div>
                        <br>
                        <div style=" width:100%; display: flex !important; align-items: center !important; justify-content: center !important;">
                            <img v-if="preload_list" width="100" height="100" src="images/preload.svg">
                        </div>
                        <table v-if="!preload_list" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Matrículas</th>
                                    <th class="text-nowrap">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="i in list">
                                    <td style="font-size:13px; font-weight:bold;"><img class="img-circle zoom" style="width: 40px !important; height: 40px !important;"
                                            v-bind:src="i.foto"> {{ i.nombre }}  {{ i.apellidos }}</td>
                                    <td class="text-nowrap">
                                        <a @click="onmatricular(i)" href="#" data-toggle="tooltip" data-original-title="Edit">
                                            <i class="fas fa-pencil-alt text-inverse m-r-10"> Matricular</i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label>Alumno *</label>
                                <div class="col-md-3">
                                    <img id="avatar_alumno" width="100%" src="assets/images/users/avatar.svg">
                                </div>
                                <div class="col-md-9">
                                    <span> {{namealum}} </span>
                                    <br>
                                    <span> {{dnialum}} </span>
                                </div>

                            </div>
                            <div style="display:none" class="form-group">
                                <label>ID *</label>
                                <input v-model="id" id="id" name="id" type="text" class="form-control form-control-line">
                                <input id="idalumno" name="idalumno" type="text" class="form-control form-control-line">
                            </div>
                            <div class="form-group">
                                <label>Grado *</label>
                                <select @change="onlist(1)" id="grado_id" name="grado_id" type="text" class="form-control form-control-line">
                                    <option v-for="option in optionsSelect1" v-bind:value="option.value">
                                        {{option.text}}
                                    </option>
                                </select>
                            </div>


                            <div class="button-box m-t-20">
                                <a @click="onsave" id="add-option" class="btn btn-success" href="#">Matricular</a>
                            </div>

                        </div>
                    </div>
                </div>
                <!--/span-->
                <!--<Paginador>-->
                <div class="col-sm-12 text-center">
                    <small class="text-muted inline m-t-sm m-b-sm">Resultados {{results}}</small>
                </div>
                <div class="col-sm-12 text-right text-center-xs">
                    <ul class="pagination">
                        <li v-on:click="onlistAlumnos('prev')" v-if="prev == true">
                            <a href="#">
                                <i class="fa fa-chevron-left"></i>
                            </a>
                        </li>
                        <li v-bind:class="{ 'active' : page==pagex }" v-on:click="onlistAlumnos(pagex)" v-for="pagex in pages">
                            <a href="#">{{pagex}}</a>
                        </li>
                        <li v-on:click="onlistAlumnos('next')" v-if="next == true">
                            <a href="#">
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--</Paginador>-->
            </div>
    </div>
    </form>
</div>
<script src="Views/Matriculas/Matriculas.js?v=0.0.3"></script>