<div id="Plan_Ejecucion" class="card card-outline-info">
    <div class="card-header">
        <h4 class="m-b-0 text-white">{{operation}}</h4>
    </div>
    <div class="card-body">
        <form id="form_Plan_Ejecucion" name="form_Plan_Ejecucion" action="#">
            <div class="form-body">
                <!--<h3 class="card-title">Registre su informacion</h3>-->
                <hr>
                <div class="row p-t-20">
                    <div class="col-md-5">
                        <div class="input-group">
                            <label>Buscar</label>
                        </div>
                        <div class="input-group">
                            <input v-on:keypress.enter.prevent="onlistAlumnos(1)" id="search" name="search" type="text"
                                class="form-control" placeholder="Buscar">
                            <div class="input-group-append">
                                <button @click="onlistAlumnos(1)" type="button" class="btn btn-primary">
                                    <span class="fas fa-search"></span>
                                </button>
                            </div>
                        </div>
                        <br>
                        <div style=" width:100%; display: flex !important; align-items: center !important; justify-content: center !important;">
                            <img v-if="preload_list" width="100" height="100" src="images/preload.svg">
                        </div>
                        <table v-if="!preload_list" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Matrículas</th>
                                    <th class="text-nowrap">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="i in list">
                                    <td style="font-size:13px; font-weight:bold;"><img class="img-circle zoom" style="width: 40px !important; height: 40px !important;"
                                                v-bind:src="i.foto"> {{ i.nombre }}  {{ i.apellidos }}</td>

                                    <td class="text-nowrap">
                                        <a @click="onListPlan(i)" href="#" data-toggle="tooltip" data-original-title="Edit">
                                            <i class="fas fa-pencil-alt text-inverse m-r-10"> Ejecución de plan</i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-7">
                        <div class="row p-t-20">
                            <div class="col-lg-6 col-xlg-6 col-md-6">
                                <div class="card">
                                    <img class="card-img-top" src="images/profile-bg.jpg" alt="Card image cap">
                                    <div class="card-body little-profile text-center">
                                        <div class="pro-img"> <img id="avatar_alumno" width="100%" src="assets/images/users/avatar.svg"></div>
                                        <h3 class="m-b-0">{{namealum}} </h3>
                                        <p>{{dnialum}} </p>
                                        <!--<a data-toggle="modal" data-target="#planes" href="javascript:void(0)"
                                                    class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded">Ejecutar
                                                    Plan</a>-->
                                        <div class="row text-center m-t-20">
                                            <!--<div class="col-lg-6 col-md-6 m-t-20">
                                                <h3 class="m-b-0 font-light">{{totalseguimiento}}</h3><small>Seguimientos</small>
                                            </div>
                                            -->
                                            <div class="col-lg-12 col-md-12 m-t-20">
                                                <h3 class="m-b-0 font-light">{{totalevaluacion}}</h3><small>Planes
                                                    ejecutados</small>
                                            </div>
                                            <div style="display:none" class="form-group">
                                                <label>ID *</label>
                                                <input v-model="id" id="id" name="id" type="text" class="form-control form-control-line">
                                                <input id="idalumno" name="idalumno" type="text" class="form-control form-control-line">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xlg-6 col-md-6">
                                <div style="position: relative; overflow: auto; width: auto; height: 515px;" class="slimScrollDiv">
                                    <div class="card card-body ">
                                        <h3 class="card-title">Progreso</h3>
                                        <div class="message-box">
                                            <div class="message-widget m-t-20">
                                                <div class="col-md-12">
                                                    <label>Asignación *</label>
                                                    <select @change="onlistPlansRealizados(1)" id="asignaciones_id"
                                                        name="asignaciones_id" type="text" class="form-control form-control-line">
                                                        <option v-for="option in optionsSelect2" v-bind:value="option.value">
                                                            {{option.text}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <img v-if="preload_progreso" width="100" height="100" src="images/preload.svg">
                                                <a v-if="!preload_progreso" v-for="i in list3" href="#">
                                                    <div class="user-img"><span  v-bind:class="{ 'round bg-success': i.ejecutado, 'round bg-danger':  !i.ejecutado }" ><i class="fas fa-trophy"></i></span></div>
                                                    <div class="mail-contnet">
                                                            
                                                        <h5 v-if="i.ejecutado" >Promedio 
                                                                <span  class="label label-info">{{ i.score }}</span>
                                                                </h5>
                                                        <span class="mail-desc">{{ i.aprendizaje }}</span>
                                                        <span class="time">Semana {{ i.n }}</span>
                                                       <h5><!-- <span @click="elaborate_plan(i,1)" data-toggle="modal" data-target="#actividades" title="Actividades a desarrollar"
                                                                href="#" data-original-title="Close"><i class="fas fa-tasks text-inverse m-r-10"></i></span>-->
                                                            <span @click="elaborate_plan(i,2)" data-toggle="modal" data-target="#diseno" title="Diseño Curricular"
                                                                href="#" data-original-title="Close"><i class="far fa-object-ungroup text-inverse m-r-10"></i></span>
                                                        </h5>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/span-->
            <!--<Paginador>-->
            <div class="col-sm-12 text-center">
                <small class="text-muted inline m-t-sm m-b-sm">Resultados {{results}}</small>
            </div>
            <div class="col-sm-12 text-right text-center-xs">
                <ul class="pagination">
                    <li v-on:click="onlistAlumnos('prev')" v-if="prev == true">
                        <a href="#">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                    </li>
                    <li v-bind:class="{ 'active' : page==pagex }" v-on:click="onlistAlumnos(pagex)" v-for="pagex in pages">
                        <a href="#">{{pagex}}</a>
                    </li>
                    <li v-on:click="onlistAlumnos('next')" v-if="next == true">
                        <a href="#">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!--</Paginador>-->
        </form>
    </div>
    <div class="modal fade" id="planes" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2><i class="fas fa-tasks text-inverse m-r-10"></i>Plan a trabajar</h2>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Asignación *</label>
                                    <select @change="onlistPlans(1)" id="asignaciones_id" name="asignaciones_id" type="text"
                                        class="form-control form-control-line">
                                        <option v-for="option in optionsSelect2" v-bind:value="option.value">
                                            {{option.text}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Buscar</label>
                                    <div class="input-group">
                                        <input v-on:keypress.enter.prevent="onlistPlans(1)" id="search2" name="search2"
                                            type="text" class="form-control" placeholder="Buscar">
                                        <div class="input-group-append">
                                            <button @click="onlistPlans(1)" type="button" class="btn btn-primary">
                                                <span class="fas fa-search"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div style=" width:100%; display: flex !important; align-items: center !important; justify-content: center !important;">
                            <img v-if="preload_list" width="100" height="100" src="images/preload.svg">
                        </div>
                        <table v-if="!preload_list" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Plan</th>
                                    <th class="text-nowrap">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="cursor:pointer;" v-for="i in list2">
                                    <td @click="plan(i)"><b>{{ i.n }}.</b> {{ i.aprendizaje }}</td>
                                    <td class="text-nowrap">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!--<Paginador>-->
                        <div class="col-sm-12 text-center">
                            <small class="text-muted inline m-t-sm m-b-sm">Resultados {{results2}}</small>
                        </div>
                        <div class="col-sm-12 text-right text-center-xs">
                            <ul class="pagination">
                                <li v-on:click="onlistPlans('prev')" v-if="prev2 == true">
                                    <a href="#">
                                        <i class="fa fa-chevron-left"></i>
                                    </a>
                                </li>
                                <li v-bind:class="{ 'active' : page2==pagex }" v-on:click="onlistPlans(pagex)" v-for="pagex in pages2">
                                    <a href="#">{{pagex}}</a>
                                </li>
                                <li v-on:click="onlistPlans('next')" v-if="next2 == true">
                                    <a href="#">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="actividades" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2><i class="fas fa-tasks text-inverse m-r-10"></i>Actividades a desarrollar</h2>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <form target="_blank" method="get"  id="form_Actividades" name="form_Actividades">
                            <table class="fi_table">
                                <thead>
                                    <tr>
                                        <th colspan="5" scope="col">PLAN DE EJECUCIÓN DE ÁREA </th>
                                    </tr>
                                    <tr>
                                        <th colspan="5" scope="col"><b>Area:</b> {{area}} <b>Grado:</b> {{nombregrado}}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="fi_th">Nª</th>
                                        <th class="fi_th" width="30%">APRENDIZAJE/ LEARNING</th>
                                        <th class="fi_th">ACTIVIDADES A DESARROLLAR/ACTIVITIES TO BE DEVELOPED</th>
                                        <th class="fi_th">TIEMPO DE EJCUCIÓN</th>
                                        <th class="fi_th">Evaluar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(i,contador) in seguimiento" :key="contador">
                                        <td v-bind:rowspan="rowspan" v-if="contador==0">{{get_dates_actividad(i.id_activity,"n")}}</td>
                                        <td v-bind:rowspan="rowspan" v-if="contador==0">{{get_dates_actividad(i.id_activity,"aprendizaje")}}</td>
                                        <td>{{get_dates_actividad(i.id_activity,"actividad")}}</td>
                                        <td>{{get_dates_actividad(i.id_activity,"tiempo")}}</td>
                                        <td> <input v-bind:value="i.id" type="hidden"  name="id[]" class="form-control form-control-line"> <input v-bind:value="i.desempeno" name="notas[]" class="form-control form-control-line">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        <button style="float:right;" @click="guardar_seguimiento()" type="button" class="btn btn-primary">Guardar</button>
                    </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="diseno" role="dialog">
            <div class="modal-dialog modal-lg">
                   <div class="modal-content">
                    <div class="modal-header">
                        Rúbrica
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <form id="form_Rubrica" name="form_Rubrica" action="#">
                                <input type="hidden" id="notafinal" name="notafinal">
                                <input type="hidden" id="ejecucion_plan_id" name="ejecucion_plan_id">
                            <!--<p>{{status_rubrica}}</p>-->
                                <table v-if="!preload_list" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="font-size:14px;" >Competencia</th>
                                            <th style="font-size:14px;" >Criterios de Evaluación</th>
                                            <th style="font-size:14px;" >Peso Evaluativo (%)</th>
                                           <!-- <th style="font-size:14px;" >Por Mejorar</th>
                                            <th style="font-size:14px;" >Básico</th>
                                            <th style="font-size:14px;" >Alto</th>
                                            <th style="font-size:14px;" >Superior</th>
                                            -->
                                            <th style="font-size:14px;"  class="text-nowrap">Juicio evaluativo</th>
                                            <th style="font-size:14px;"  class="text-nowrap">Observación</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(i,n) in evaluacion">
                                            <td style="font-size:12px;" >{{ get_competencia(get_dates_rubrica(i.id_rubrica,"competencia")) }}</td>
                                            <td style="font-size:12px;" >{{ get_dates_rubrica(i.id_rubrica,"criterio_evaluacion")}}</td>
                                            <td style="font-size:12px;" v-bind:id="'c'+n" >{{ get_dates_rubrica(i.id_rubrica,"peso") }}</td>
                                           <!-- <td style="font-size:12px;" >{{ get_dates_rubrica(i.id_rubrica,"mejorar") }}</td>
                                            <td style="font-size:12px;" >{{ get_dates_rubrica(i.id_rubrica,"basico")  }}</td>
                                            <td style="font-size:12px;" >{{ get_dates_rubrica(i.id_rubrica,"alto")  }}</td>
                                            <td style="font-size:12px;" >{{ get_dates_rubrica(i.id_rubrica,"superior")  }}</td>
                                        -->
                                            <td> 
                                                <input v-bind:value="i.id" type="hidden"  name="id[]" class="form-control form-control-line"> 
                                                <input @change='evaluar_rubrica()' v-bind:id="'c'+n+'s'" v-bind:value="i.nota" name="notas[]" class="form-control form-control-line">
                                            </td>
                                            <td>
                                                <textarea class="form-control" rows="5" name="comment[]">{{i.comentario}}</textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" >Total</td>
                                            <td id="R_total"> 
                                                   0
                                                </td>
                                            </tr>
                                    </tbody>
                                </table>
                                <button style="float:right;" @click="guardar_rubrica()" type="button" class="btn btn-primary">Guardar</button>
                                <br>
                                <br>
                                
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="Views/Plan_Ejecucion/Plan_Ejecucion.js?v=0.05"></script>