<div id="Plan" class="card card-outline-info">
    <div class="card-header">
        <h4 class="m-b-0 text-white">{{operation}}</h4>
    </div>
    <div class="card-body">
        <form id="form_Plan" name="form_Plan" action="#">
            <div class="form-body">
                <!--<h3 class="card-title">Registre su informacion</h3>-->
                <hr>
                <div class="row p-t-20">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div style="display:none" class="form-group">
                                <label>ID *</label>
                                <input v-model="id" id="id" name="id" type="text" class="form-control form-control-line"
                                    placeholder="Ingresa el id aquí">
                            </div>
                            <div class="form-group">
                                <label>Semana *</label>
                                <input id="n" name="n" type="number" class="form-control form-control-line" placeholder="Ingresa el Nª aquí">
                            </div>
                            <div class="form-group">
                                <label>Grado *</label>
                                <select @change="onListAsignaciones()" id="grado_id" name="grado_id" type="text" class="form-control form-control-line">
                                    <option v-for="option in optionsSelect1" v-bind:value="option.value">
                                        {{option.text}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Asignación *</label>
                                <select @change="onlist(1)" id="asignaciones_id" name="asignaciones_id" type="text" class="form-control form-control-line">
                                    <option v-for="option in optionsSelect2" v-bind:value="option.value">
                                        {{option.text}}
                                    </option>
                                </select>
                            </div>
                            <div style="display:none;" class="form-group">
                                <label>Derechos básicos de aprendizaje *</label>
                                <input id="derechos" name="derechos" type="text" class="form-control form-control-line"
                                    placeholder="Ingresa el derechos básicos de aprendizaje aquí">
                            </div>
                            <div class="form-group">
                                <label>Unidad: *</label>
                                <input id="unidad" name="unidad" type="text" class="form-control form-control-line"
                                    placeholder="Ingresa la unidad aquí">
                            </div>
                            <div class="form-group">
                                <label>Temática de la unidad: *</label>
                                <input id="unidad_tematica" name="unidad_tematica" type="text" class="form-control form-control-line"
                                    placeholder="Ingresa aquí la temática de la unidad">
                            </div>
                            <div class="form-group">
                                <label>Objetivo de aprendizaje: *</label>
                                <input id="aprendizaje" name="aprendizaje" type="text" class="form-control form-control-line"
                                    placeholder="Ingresa el objetivo de aprendizaje aquí">
                            </div>
                            <div class="button-box m-t-20">
                                <a v-if="id==0" @click="onsave" id="add-option" class="btn btn-success" href="#">Agregar</a>
                                <a v-if="id!=0" @click="onsave" id="add-option" class="btn btn-success" href="#">Modificar</a>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="input-group">
                            <label>Buscar</label>
                        </div>
                        <div class="input-group">
                            <input v-on:keypress.enter.prevent="onlist(1)" id="search" name="search" type="text" class="form-control"
                                placeholder="Buscar">
                            <div class="input-group-append">
                                <button @click="onlist(1)" type="button" class="btn btn-primary">
                                    <span class="fas fa-search"></span>
                                </button>
                            </div>
                        </div>
                        <br>
                        <div style=" width:100%; display: flex !important; align-items: center !important; justify-content: center !important;">
                            <img v-if="preload_list" width="100" height="100" src="images/preload.svg">
                        </div>
                        <table v-if="!preload_list" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Plan</th>
                                    <th class="text-nowrap">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="i in list">
                                    <td style="font-size:12px;"><b>{{ i.n }}.</b> {{ i.aprendizaje }}</td>
                                    <td class="text-nowrap">
                                        <!-- Actividades suspedido a solicitud del doctor cometa se espera orden para activar
                                        <a data-toggle="modal" data-target="#actividades" title="Actividades a desarrollar"
                                            class="col-md-1" @click="actividades(i)" href="#" data-toggle="tooltip"
                                            data-original-title="Close">
                                            <i class="fas fa-tasks text-inverse m-r-10"></i>
                                        </a>
                                        -->
                                        <a data-toggle="modal" data-target="#diseno" title="Diseño Curricular" class="col-md-1"
                                            @click="diseno_curricular(i)" href="#" data-toggle="tooltip"
                                            data-original-title="Close">
                                            <i class="far fa-object-ungroup text-inverse m-r-10"></i>
                                        </a>
                                        <a title="Editar" class="col-md-1" @click="onupdate(i)" href="#" data-toggle="tooltip"
                                            data-original-title="Edit">
                                            <i class="fas fa-pencil-alt text-inverse m-r-10"></i>
                                        </a>
                                        <a data-toggle="modal" data-target="#archivos" title="Actividades PDF" class="col-md-1" @click="archivos(i)" href="#" data-toggle="tooltip"
                                            data-original-title="Edit">
                                            <i class="fas fa-file text-inverse m-r-10"></i>
                                        </a>
                                        <a title="Eliminar" class="col-md-1" @click="ondeleted(i)" href="#" data-toggle="tooltip"
                                            data-original-title="Close">
                                            <i class="fas fa-window-close text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--<Paginador>-->
                    <div class="col-sm-12 text-center">
                        <small class="text-muted inline m-t-sm m-b-sm">Resultados {{results}}</small>
                    </div>
                    <div class="col-sm-12 text-right text-center-xs">
                        <ul class="pagination">
                            <li v-on:click="onlist('prev')" v-if="prev == true">
                                <a href="#">
                                    <i class="fa fa-chevron-left"></i>
                                </a>
                            </li>
                            <li v-bind:class="{ 'active' : page==pagex }" v-on:click="onlist(pagex)" v-for="pagex in pages">
                                <a href="#">{{pagex}}</a>
                            </li>
                            <li v-on:click="onlist('next')" v-if="next == true">
                                <a href="#">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--</Paginador>-->
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="actividades" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2><i class="fas fa-tasks text-inverse m-r-10"></i>Actividades a desarrollar</h2> 
                        <div class="card-actions">
                            <a class="btn-minimize" data-action="expand"><i class="mdi mdi-arrow-expand"></i></a>
                            <a class="btn-close" data-dismiss="modal"><i class="ti-close"></i></a>
                        </div>
                    </div>
                    <div class="modal-body">
                        <form id="form_Actividades" name="form_Actividades">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div style="display:none" class="form-group">
                                        <label>ID *</label>
                                        <input v-model="id" id="id" name="id" type="text" class="form-control form-control-line"
                                            placeholder="Ingresa el id aquí">
                                    </div>
                                    <div style="display:none" class="form-group">
                                        <label>Plan *</label>
                                        <input id="plan_id" name="plan_id" type="text" class="form-control form-control-line"
                                            placeholder="Ingresa el plan aquí">
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label>Actividades a desarrollar *</label>
                                            <input id="actividad" name="actividad" type="text" class="form-control form-control-line"
                                                placeholder="Ingresa el actividades a desarrollar aquí">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Tiempo Minutos*</label>
                                            <input id="tiempo" name="tiempo" type="text" class="form-control form-control-line"
                                                placeholder="Ingresa el tiempo aquí">
                                        </div>
                                    </div>
                                    <div class="button-box m-t-20">
                                        <a style="float:right;" v-if="id==0" @click="onsaveActivity" id="add-option"
                                            class="btn btn-success" href="#">Agregar</a>
                                        <a style="float:right;" v-if="id!=0" @click="onsaveActivity" id="add-option"
                                            class="btn btn-success" href="#">Modificar</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <table class="fi_table">
                            <thead>
                                <tr>
                                    <th colspan="5" scope="col">PLAN DE EJECUCIÓN DE ÁREA </th>
                                </tr>
                                <tr>
                                    <th colspan="5" scope="col"><b>Area:</b> {{asignacion}} <b>Grado:</b> {{grado}}
                                    </th>
                                </tr>
                                <tr>
                                    <th class="fi_th">Nª</th>
                                    <th class="fi_th" width="50%">APRENDIZAJE/ LEARNING</th>
                                    <th class="fi_th">ACTIVIDADES A DESARROLLAR/ACTIVITIES TO BE DEVELOPED</th>
                                    <th class="fi_th">TIEMPO DE EJCUCIÓN</th>
                                    <th class="fi_th"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(i,contador) in list2" :key="contador">
                                    <td v-bind:rowspan="rowspan" v-if="contador==0">{{n}}</td>
                                    <td v-bind:rowspan="rowspan" v-if="contador==0">{{aprendizaje}}</td>
                                    <td>{{i.actividad}}</td>
                                    <td>{{i.tiempo}}</td>
                                    <td width="50">
                                        <a style="float:left;" title="Editar" @click="onupdateActivity(i)" href="#"
                                            data-toggle="tooltip" data-original-title="Edit">
                                            <i class="fas fa-pencil-alt text-inverse m-r-10"></i>
                                        </a>
                                        <a style="float:left;" title="Eliminar" @click="ondeletedActivity(i)" href="#"
                                            data-toggle="tooltip" data-original-title="Close">
                                            <i class="fas fa-window-close text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">Total</td>
                                    <td>{{total}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="diseno" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        Rúbrica
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <form id="form_Rubrica" name="form_Rubrica" action="#">
                            <div class="form-body">
                                <!--<h3 class="card-title">Registre su informacion</h3>-->
                                <div class="row p-t-20">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div style="display:none" class="form-group">
                                                <label>ID *</label>
                                                <input v-model="id" id="id" name="id" type="text" class="form-control form-control-line"
                                                    placeholder="Ingresa el id aquí">
                                            </div>
                                            <div style="display:none" class="form-group">
                                                <label>Plan *</label>
                                                <input id="plan_id" name="plan_id" type="text" class="form-control form-control-line"
                                                    placeholder="Ingresa el plan aquí">
                                            </div>
                                            <div class="form-group">
                                                <label>Competencias *</label>
                                                <select @change="analitics_competencia" id="competencia" name="competencia" class="form-control form-control-line">
                                                    <option value="0">Cognitivo</option>
                                                    <option value="1">Procedimental</option>
                                                    <option value="2">Axiológico</option>
                                                    <option value="3">Actitudinal</option>
                                                    <option value="4">Comunicativo</option>
                                                    <option value="5">Manejo de segunda lengua</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Criterios de Evaluación *</label>
                                                <input id="criterio_evaluacion" name="criterio_evaluacion" type="text"
                                                    class="form-control form-control-line" placeholder="Ingresa el criterios de evaluación aquí">
                                            </div>
                                            <div class="form-group">
                                                <label>Peso Evaluativo (%) *</label>
                                                <input id="peso" name="peso" type="text" class="form-control form-control-line"
                                                    placeholder="Ingresa el peso evaluativo (%) aquí">
                                            </div>
                                            <!--<div class="form-group">
                                                <label>Por Mejorar *</label>
                                                <input id="mejorar" name="mejorar" type="text" class="form-control form-control-line"
                                                    placeholder="Ingresa el por mejorar aquí">
                                            </div>-->
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <!--<div class="form-group">
                                            <label>Básico *</label>
                                            <input id="basico" name="basico" type="text" class="form-control form-control-line"
                                                placeholder="Ingresa el básico aquí">
                                        </div>
                                        <div class="form-group">
                                            <label>Alto *</label>
                                            <input id="alto" name="alto" type="text" class="form-control form-control-line"
                                                placeholder="Ingresa el alto aquí">
                                        </div>
                                        <div class="form-group">
                                            <label>Superior *</label>
                                            <input id="superior" name="superior" type="text" class="form-control form-control-line"
                                                placeholder="Ingresa el superior aquí">
                                        </div>-->
                                        <div class="form-group">
                                                Total Ponderado <label v-bind:class="{ 'round bg-success': totalpor==100, 'round bg-danger':  totalpor!=100 }"  > {{totalpor}}</label>
                                        </div>
                                        <div style="float:right;" class="button-box m-t-20">
                                            <a v-if="id==0" @click="onsaveRubrica('new')" id="add-option" class="btn btn-success"
                                                href="#">Agregar</a>
                                            <a v-if="id!=0" @click="onsaveRubrica('update')" id="add-option" class="btn btn-success"
                                                href="#">Modificar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="col-md-12">
                            <div style=" width:100%; display: flex !important; align-items: center !important; justify-content: center !important;">
                                <img v-if="preload_list" width="100" height="100" src="images/preload.svg">
                            </div>
                            <p>{{status_rubrica}}</p>
                            <table v-if="!preload_list" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="font-size:14px;">Competencia</th>
                                        <th style="font-size:14px;">Criterios de Evaluación</th>
                                       <th style="font-size:14px;">Peso Evaluativo (%)</th>
                                    <!-- <th style="font-size:14px;">Por Mejorar</th>
                                        <th style="font-size:14px;">Básico</th>
                                        <th style="font-size:14px;">Alto</th>
                                        <th style="font-size:14px;">Superior</th>-->
                                        <th style="font-size:14px;" class="text-nowrap">Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="i in list3">
                                        <td style="font-size:12px;" >{{ get_competencia(i.competencia) }}</td>
                                        <td style="font-size:12px;" >{{ i.criterio_evaluacion }}</td>
                                        <td style="font-size:12px;" >{{ i.peso }}</td>
                                        <!--
                                        <td style="font-size:12px;" >{{ i.mejorar }}</td>
                                        <td style="font-size:12px;" >{{ i.basico }}</td>
                                        <td style="font-size:12px;" >{{ i.alto }}</td>
                                        <td style="font-size:12px;" >{{ i.superior }}</td>-->
                                        <td class="text-nowrap">
                                            <a @click="onupdateRubrica(i)" href="#" data-toggle="tooltip" data-original-title="Edit">
                                                <i class="fas fa-pencil-alt text-inverse m-r-10"></i>
                                            </a>
                                            <a @click="ondeletedRubrica(i)" href="#" data-toggle="tooltip" data-original-title="Close">
                                                <i class="fas fa-window-close text-danger"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="archivos" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        Actividades PDF
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body row">
                        <div class="col-md-6">
                            <label>Nombre Actividad *</label>
                            <input id="id_archivo" name="id_archivo" type="hidden" value="0" >
                            <input id="nombre_archivo" name="nombre_archivo" type="hidden" >
                            <input id="archivo" name="archivo" type="text" class="form-control form-control-line" placeholder="Ingresa nombre de la actividad">
                            <input id="plan_id_archivo" name="plan_id_archivo" type="hidden" >
                                <label>Actividad *</label>
                                <input type="file" id="files" name="files[]" class="form-control form-control-line" />
                                <br>
                                <br>
                                <span  v-if="!upload" class="label label-light-warning">
                                        <img  width="30" height="30" src="images/preload.svg">
                                    Subiendo por favor espere
                                </span>
                                <a v-if="upload" style="float:right;"  onclick="upload()" id="add-option"
                                class="btn btn-success" href="#">Guardar</a>
                                <br>
                                <br>
                                <br>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <label>Buscar</label>
                            </div>
                            <div class="input-group">
                                <input v-on:keypress.enter.prevent="onlist_archivos(1)" id="search_archivos" name="search_archivos" type="text" class="form-control"
                                    placeholder="Buscar">
                                <div class="input-group-append">
                                    <button @click="onlist_archivos(1)" type="button" class="btn btn-primary">
                                        <span class="fas fa-search"></span>
                                    </button>
                                </div>
                            </div>
                            <br>
                            <div style=" width:100%; display: flex !important; align-items: center !important; justify-content: center !important;">
                                <img v-if="preload_archivos" width="100" height="100" src="images/preload.svg">
                            </div>
                            <table v-if="!preload_archivos" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Actividades</th>
                                        <th class="text-nowrap">Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="i in list_archivos">
                                        <td style="font-size:12px;">{{ i.nombre }} <br>
                                            <a style="padding:3px; radius:10px;"  class="box bg-light-success" v-bind:href="'Actividades/'+i.url" target="_blank" >
                                                <i class="ti-arrow-circle-down"></i> Ver actividad 
                                            </a>
                                        </a></td>
                                        <td class="text-nowrap">
                                                <a @click="update_archivos(i)" href="#" data-toggle="tooltip" data-original-title="Close">
                                                        <i class="fas fa-pencil-alt text-inverse m-r-10"></i>
                                                    </a>
                                            <a title="Eliminar" class="col-md-1" @click="ondeleted_archivo(i)" href="#" data-toggle="tooltip"
                                                data-original-title="Close">
                                                <i class="fas fa-window-close text-danger"></i>
                                            </a>
                                          
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="Views/Plan/Plan.js?v=0.07"></script>